{% extends "layout.html" %}


{% block main %}
<main class="container p-5 justify-content-md-center" style="width: 30%">
    <form action="/changepassword" method="post">
      
        <div class="form-group mb-3">
           
            
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        {% if alertPassword %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            Please insert new password <a href="/changepassword" style="text-decoration: none;"> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg></a>
            </div>
        {% endif %}

        <div class="form-group">
            <input class="form-control mb-3" name="confirmation" placeholder="Repeat Password" type="password">
        </div>

        {% if alertRepPassword %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            Please repeat password <a href="/changepassword" style="text-decoration: none;"> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg></a>
            </div>
        {% endif %}

        {% if alertCompPassword %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            Passwords are not the same <a href="/changepassword" style="text-decoration: none;"> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg></a>
            </div>
            {% endif %}

        <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-center">
            <button class="btn btn-primary mb-3" type="submit">Change password</button>
        </div>

        {% if success %}
        <div class="alert alert-success" style="text-align: center;" role="alert">
            <p>Password changed!</p>
        </div>

        {% endif %}
    </form>
</main>
{% endblock %}
